<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         beStrictAboutTestsThatDoNotTestAnything="false"
         bootstrap="tests/bootstrap.php"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnError="false"
         stopOnFailure="false"
         verbose="true"
>
    <testsuites>
        <testsuite name="FastDFS client unit test">
            <directory suffix="Test.php">./tests</directory>
        </testsuite>
    </testsuites>
    <php>
        <ini name="memory_limit" value="512M" />

        <!-- FastDFS Server -->
        <const name="TRACKER_SERVER_HOST" value="127.0.0.1" />
        <const name="TRACKER_SERVER_PORT" value="22122" />
        <const name="CONNECTION_DRIVER" value="default" />
    </php>
</phpunit>
